{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Price</th>
              
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.subtitle }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.price }}</td>
               
                <td>
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonces_new_first') }}">Create new</a>
{% endblock %}
