{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Price</th>
                <th>Annee</th>
                <th>Mec</th>
                <th>Carburant</th>
                <th>GearBox</th>
                <th>Type</th>
                <th>Portes</th>
                <th>Places</th>
                <th>Kilometrage</th>
                <th>Cv</th>
                <th>Color</th>
                <th>CritAir</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.subtitle }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.price }}</td>
                <td>{{ annonce.annee }}</td>
                <td>{{ annonce.mec ? annonce.mec|date('Y-m-d') : '' }}</td>
                <td>{{ annonce.carburant }}</td>
                <td>{{ annonce.gearBox }}</td>
                <td>{{ annonce.type }}</td>
                <td>{{ annonce.portes }}</td>
                <td>{{ annonce.places }}</td>
                <td>{{ annonce.kilometrage }}</td>
                <td>{{ annonce.cv }}</td>
                <td>{{ annonce.color }}</td>
                <td>{{ annonce.critAir }}</td>
                <td>
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonces_new') }}">Create new</a>
{% endblock %}
