{% extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}
	<h1>Annonces</h1>
	{% for image in annonce.images %}
		<h3>{{ image.name}}</h3>

	{% endfor %}
	<h3>{{ annonce.car.annee }}</h3>

	<a href="{{ path('app_annonces_index') }}">back to list</a>

	<a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>

	{# {{ include('annonces/_delete_form.html.twig') }} #}
{% endblock %}
